
.btn {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 2px;
  padding: 8px 40px;
  @include font-light();
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  box-sizing: border-box;
  &::before {
    display: block;
    @include cover();
    width: 0;
    background-color: white;
    background-color: rgba(white, .2);
    transition: all 400ms ease-in-out;
    content: "";
    clear: both;
    overflow: hidden;
  }
  &:hover::before {
    width: 100%;
  }
}

.btn-outline {
  border: 1px solid white;
  background-color: transparent;
  color: white;
}