
.hero {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 60px;

  height: 100%;
  min-height: 100vh;

  background-color: $color-primary;
  background: linear-gradient(90deg, $color-primary, $color-secondary);

  box-sizing: border-box;
  z-index: 0;

  @include below($phone){
    padding-left: 0;
  }

  &-box {
    @include center($laptop);
  }
  &-title {
    margin-bottom: 16px;
    color: white;
    @include font-bold();
    font-size: 120px;
    line-height: 1;
    text-align: center;
    animation: fadeup 600ms cubic-bezier(0.86, 0, 0.07, 1) forwards;
    text-transform: uppercase;
    @include below($laptop){
      font-size: 80px;
    }
    @include below($tablet){
      font-size: 40px;
    }
  }
  &-description {
    position: relative;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    max-width: 600px;
    color: white;
    text-align: center;
    box-sizing: border-box;
    animation: fadein 600ms cubic-bezier(0.86, 0, 0.07, 1) 200ms both;
    @include below($tablet){
      padding: 0 40px;
      max-width: 420px;
    }
    p {
      margin-top: 0;
      font-size: 18px;
      letter-spacing: .2em;
      @include below($laptop){
        font-size: 16px;
      }
      @include below($tablet){
        font-size: 14px;
      }
    }
  }
  &-actions {
    position: relative;
    animation: fadein 600ms cubic-bezier(0.86, 0, 0.07, 1) 200ms both;
    text-align: center;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeup {
  from {
    opacity: .1;
    transform: translateY(50%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}